body{
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0;
    padding: 0;
}

.area {
    display: flex;
}

.active-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}